textarea {
  resize: none;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 8px;
}

.dataInput {
  flex: 0.4;
  padding-right: 32px;
}

.rowNumberInput {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .dataInput {
    flex: 1;
    padding-right: 0px;
  }
}
