.result {
  flex: 0.7;
}

.treemap-contaier {
  height: 70vh;
  width: 100%;
  background-color: white;
}

.treemap-row {
  display: grid;
}

.treemap-item {
  display: flex;

  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #fff;
}

.treemap-item > p {
  margin: 0px 8px;
  text-align: center;
  font-size: 5px;
}

.treemap-item[min-height~="60px"] {
  flex-direction: column;
}

.treemap-item[min-width~="40px"] > p {
  font-size: 12px;
}

.treemap-item[min-width~="100px"] > p {
  font-size: 20px;
}

.treemap-item[min-width~="200px"] > p {
  font-size: 24px;
}
