.app {
  display: flex;
  padding: 32px;
  background-color: black;
  height: calc(100vh - 64px);
}

.title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: white;
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
    overflow-y: scroll;
  }
}
